*.pyc
/BesTVQoS/BesTVQoS/obj
/BesTVQoS/BesTVQoS/debug.log
/BesTVQoS/*.suo
/TestScripts
/BesTVQoS/BesTVQoS/bin
/BesTVQoS/BesTVQoS/web.config
/BesTVQoS/BesTVQoS/web.debug.config
/BesTVQoS/BesTVQoSStore/web.config
/BesTVQoS/BesTVQoSStore/web.debug.config
/BesTVQoS/BesTVQoSStore/bin
/BesTVQoS/BesTVQoSStore/obj
/BesTVQoS/BesTVQoSStore/dbstore.log
/BesTVQoS/BesTVQoS/.idea
/BesTVQoS/BesTVQoS/static
/BesTVQoS/doc/nginx/nginx.conf
/BesTVQoS/BesTVQoS/logs/*.log
