{% if has_table %}
    {% for table in tables %}
    <table class="bordered" border="1" cellspacing="0" cellpadding="1" style="border-collapse:collapse" >
        {% for header in table.mheader%}
            <th>{{header}}</th>
        {% endfor %}
        
        {% for row in table.msub %}
            <tr onclick="jump_to('{{row.url}}')" style="cursor:pointer">
            {% for col in row.data %}
                <td>   
                    {{col}}
                </td>             
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <p>
    {% endfor %}
{% endif %}

<script type="text/javascript">
    function jump_to(url)
    {
        window.location.href = url;
    }
</script>