<script type="text/javascript" src="/static/js/highcharts/highcharts.js"></script>
<script type="text/javascript" src="/static/js/highcharts/modules/exporting.js"></script>

<script>
    $(function () {
        $('#area_stack_container').highcharts({
            chart: {
                type: 'area'
            },
            title: {
                text: '{{ distribution.title }}'
            },
            subtitle: {
                text: '{{ distribution.subtitle }}'
            },
            xAxis: {
                categories: {{ distribution.x | safe }},
                tickmarkPlacement: 'on',
                title: {
                    enabled: false
                }
            },
            yAxis: {
                title: {
                    text: 'Percent'
                },
                labels: {
                    format: '{value}%',
                }
            },
            tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.percentage:.1f}%</b> ({point.y:,.0f})<br/>',
                shared: true
            },
            plotOptions: {
                area: {
                    stacking: 'percent',
                    lineColor: '#ffffff',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#ffffff'
                    }
                }
            },
            series: [
                {% for serie in distribution.series %}
                    {
                        name: '{{ serie.name }}',
                        data: {{ serie.data|safe }}
                    },
                {% endfor %}
            ]
        });
    });
</script>



