<script type="text/javascript" src="/static/js/highcharts/highcharts.js"></script>
<script type="text/javascript" src="/static/js/highcharts/modules/exporting.js"></script>

<script>
    $(function(){
        {% for item in contents %}
            $('#tabs_{{item.index}}').highcharts({
                title: {
                    text: '{{item.title}}',
                    x: -20 //center
                },
                subtitle: {
                    text: '{{item.subtitle}}',
                    x: -20
                },
                xAxis: {
                    categories: {{item.xAxis|safe}},
                    tickInterval:{{item.t_interval}},
                    labels:{
                        rotation:45,                        
                        y:30,
                    }
                },
                yAxis: [{ 
                    labels: {                   
                        style: {
                            color: '#89A54E'
                        }
                    },
                    title: {
                        text: '{{item.y_title1}}',
                        style: {
                            color: '#89A54E'
                        }
                    },
                    min: 0
                }, 
                { // Secondary yAxis
                    title: {
                        text: '{{item.y_title2}}',
                        style: {
                            color: '#4572A7'
                        }
                    },
                    labels: {
                        style: {
                            color: '#4572A7'
                        }
                    },
                    min: 0,
                    opposite: true
                }],
                tooltip: {
                    valueSuffix: '',
                    shared: true  
                },
                legend: {
                    borderWidth: 0
                },
                series: [{{item.series|safe}}]
            });
        {% endfor %}
    });
</script>



