<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/js/menu/css/styles.css" type="text/css" />
	<link rel="stylesheet" href="/static/js/menu/css/jquery-tool.css" type="text/css" />

	<script type="text/javascript" src="/static/jquery/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="/static/jquery/jquery.tools.min.js"></script>
	<script type="text/javascript" src="/static/js/menu/js/main.js"></script>
</head>
<body>
    <div id="main">
		<div id="content">
			<ul id="expmenu-freebie">
				<li style="margin-left: -50px; border-left-width: 0px;">
					<!-- Start Freebie -->
					<ul class="expmenu">
						<li>
							<div class="header">
								<span class="label" style="background-image: url(/static/images/messages.png);">
								     <a href="{% url "tplay.views.show_playing_stat" %}" target="main" style="color: #FFFFFF">观看数</a>
								</span>
								<span class="arrow up"></span>
							</div>
							<ul class="menu">
                                <li><a href="{% url "tplay.views.show_playing_stat" %}" target="main">单日统计</a></li>
								<li><a href="{% url "tplay.views.show_playing_trend" %}" target="main">趋势</a></li>
							</ul>
						</li>
						<li>
							<div class="header">
								<span class="label" style="background-image: url(/static/images/user.png);">
								    <a href="{% url "tplay.views.show_play_time" %}" style="color: #FFFFFF" target="main">播放时长</a>
								</span>
								<span class="arrow up"></span>
							</div>
							<ul class="menu">
								<li><a href="{% url "tplay.views.show_play_time" %}" target="main">播放时长</a></li>
							</ul>
						</li>
						<li>
							<div class="header">
								<span class="label" style="background-image: url(/static/images/pc.png);">
								   <a href="{% url "tplay.views.show_fbuffer_sucratio" %}" style="color: #FFFFFF" target="main">首次缓冲</a>
								</span>
								<span class="arrow down"></span>
							</div>
							<ul class="menu" style="display:none">
								<li><a href="{% url "tplay.views.show_fbuffer_sucratio" %}" target="main">首次缓冲成功率</a></li>
                                <li><a href="{% url "tplay.views.show_fbuffer_time" %}" target="main">首次缓冲时长</a></li>
							</ul>
						</li>
						<li>
							<div class="header">
								<span class="label" style="background-image: url(/static/images/search.png);">
								    <a href="{% url "tplay.views.show_fluency" %}" style="color: #FFFFFF" target="main">流畅度</a>
								</span>
								<span class="arrow down"></span>
							</div>
							<ul class="menu" style="display:none">
								<li><a href="{% url "tplay.views.show_fluency" %}" target="main">一次不卡比例</a></li>
								<li><a href="{% url "tplay.views.show_fluency_pratio" %}" target="main">卡用户卡时间占比</a></li>
								<li><a href="{% url "tplay.views.show_fluency_allpratio" %}" target="main">所有用户卡时间占比</a></li>
					            <li><a href="{% url "tplay.views.show_fluency_avgcount" %}" target="main">卡顿播放平均卡次数</a></li>
							</ul>
						</li>
						<li>
							<div class="header">
								<span class="label" style="background-image: url(/static/images/search.png);">
								    <a href="{% url "tplay.views.show_3sratio" %}" style="color: #FFFFFF" target="main">Bestv现有指标</a>
								</span>
								<span class="arrow down"></span>
							</div>
							<ul class="menu" style="display:none">
								<li><a href="{% url "tplay.views.show_3sratio" %}" target="main">3秒起播占比</a></li>
								<li><a href="{% url "tplay.views.show_avg_pcount" %}" target="main">每小时播放卡顿平均次数</a></li>
                                <li><a href="{% url "tplay.views.show_avg_ptime" %}" target="main">每小时播放卡顿平均时长</a></li>
							</ul>
						</li>
                        <li>
							<div class="header">
								<span class="label" style="background-image: url(/static/images/search.png);">
								    <a href="/day_reporter" style="color: #FFFFFF" target="main">报表生成</a>
								</span>
								<span class="arrow down"></span>
							</div>
							<ul class="menu" style="display:none">
								<li><a href="/day_reporter" target="main">每日报表</a></li>	
                                <!--
								<li><a href="/week_reporter" target="main">每周报表</a></li>  
                                -->                              
							</ul>
						</li>
                        <li>
							<div class="header">
								<span class="label" style="background-image: url(/static/images/search.png);">
								    <a href="/show_server_list" style="color: #FFFFFF" target="main">日志分析</a>
								</span>
								<span class="arrow down"></span>
							</div>
							<ul class="menu" style="display:none">
								<li><a href="/show_server_list" target="main">服务器列表</a></li>	                      
							</ul>
						</li>
                        <li>
							<div class="header">
								<span class="label" style="background-image: url(/static/images/search.png);">
								    <a href="/show_ms_error" style="color: #FFFFFF" target="main">服务器反向监控</a>
								</span>
								<span class="arrow down"></span>
							</div>
							<ul class="menu" style="display:none">
								<li><a href="/show_ms_error" target="main">ms error信息</a></li>
                                <li><a href="/show_tsdelay" target="main">CDN信息</a></li>	                      
							</ul>
						</li>
					</ul>
					<!-- End Freebie -->
				</li>
			</ul>
		</div>
		<div id="content_div">
			<iframe name="main" src="{% url "tplay.views.show_playing_stat" %}" width="100%" height="100%" frameborder="0" style="overflow-x:hidden"></iframe>
		</div>
	<div>
</body>
</html>