{% include 'top.html' %}

<link rel="stylesheet" type="text/css" href="/static/js/multiselectSrc/jquery.multiselect.css" />
<link rel="stylesheet" type="text/css" href="/static/js/ui/jquery-ui.css" />
<script type="text/javascript" src="/static/js/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="/static/js/ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/static/js/multiselectSrc/jquery.multiselect.js"></script>

<script type="text/javascript">     
    $(function(){
        $("#business_type").multiselect({
            selectedList:1,
            height:160,
            multiple:false,
            header:false,
            minWidth:100
        });
    });
</script>

<div id ="content" >
    <form name="server_list" method="get" class="bordered1" >
        <span style="padding-left:1%;"></span>
        <b>{{table.mtitle}}</b>
        <br>
        <div class="pageitem">
            <div class="ctrlbox">  
                <div class="ctrlitem">  
                    <label>业务类型</label>
                    <select name="business_type" id="business_type">
                        {% for item in business_types %}
                            {% ifequal item default_business_type %}
                                <option value="{{ item }}" selected>{{ item }}</option>
                            {% else %}
                                <option value="{{ item }}" >{{ item }}</option>
                            {% endifequal %}
                        {% endfor %}
                    </select>
                </div>
                <div class="ctrlitem">  
                    <label>日期</label>
                    {% if is_mobile %}
                        <input name="date" type="date" value="{{default_date}}">
                    {% else %}
                        <input class="Wdate" name="date" value="{{default_date}}" onClick="WdatePicker({isShowWeek:true,highLineWeekDay:true})">
                    {% endif %}
                </div>
                <div class="ctrlitem">
                    <input type="submit" value="查询"> 
                </div>
                <div class="ctrlitem">
                    <input type="button" value="导出到Excel" onclick="export2excel()"> 
                </div>
            </div>  
        </div>
    </form>
    
    <table class="bordered" border="1" cellspacing="0" cellpadding="1" style="border-collapse:collapse;" >
        {% for header in table.mheader%}
            <th>{{header}}</th>
        {% endfor %}
        
        {% for row in table.msub %}
            <tr onclick="jump_to('show_server_detail?server_ip={{row.2}}&end_date={{default_date}}')" style="cursor:pointer">
            {% for col in row %}
                <td>
                    {{col}}
                </td>             
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    
</div>

<script type="text/javascript">
    function jump_to(url)
    {
        window.location.href = url;
    }

    function export2excel(){
        server_list.action="/export_server_list";
        server_list.submit();
    }
</script>